/* src/Assets/Fonts/Font.css */

@font-face {
  font-family: "Pretendard-Black";
  src: url("./Pretendard/Pretendard-Black.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("./Pretendard/Pretendard-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("./Pretendard/Pretendard-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("./Pretendard/Pretendard-ExtraLight.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Light";
  src: url("./Pretendard/Pretendard-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("./Pretendard/Pretendard-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("./Pretendard/Pretendard-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("./Pretendard/Pretendard-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Thin";
  src: url("./Pretendard/Pretendard-Thin.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PretendardVariable";
  src: url("./Pretendard/PretendardVariable.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "NEXONLv2GothicBold";
  src: url("./NexonLv2/NEXON\ Lv2\ Gothic\ Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "KoPubWorldDotumBold";
  src: url("./KoPubWorld/KoPubWorldDotumBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "KoPubWorldDotumMedium";
  src: url("./KoPubWorld/KoPubWorldDotumMedium.woff2") format("woff2");
  font-display: swap;
}

/* 각 굵기와 스타일에 대한 @font-face 규칙 추가 */
